body {
  font-family: playpen Sans;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
.logo img {
  width: 100px; 
  border-radius: 100px;
}
.service {
  display: inline;
  justify-content: space-around;
  margin: 2rem 0;
  font-family: playpen Sans;
  font-size: 20px;
  z-index: 100;
}
.text1{
  font-size: 30px;
  color: #fff;
}
.service-item {
  padding: 1.5rem;
  text-align: center;
  height: 500px;
  background-image: url(img/serviceImg3.jpg);
  background-size: contain;
  color: #fff;
}
.service-item2 {
  background-image: url(img/serviceImg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5rem;
  text-align: center;
  height: 500px;
  color: #fff;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
